* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    background: #fafafa;
    font-family:'DejaVu Sans', Arial, Helvetica, sans-serif;

}

.container {
    display: flex;
    flex-direction: column;

   align-items: center;
    gap: 3rem;
    margin: 2rem auto;
}

.container__text {
    max-width: 90%;
}

.container__text > * + * {
    margin-top: 1rem;
}

.container__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    background: white;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 90%;
    width:100%;
}

.container__form > * {
    padding: .5rem .75rem;
}

@media screen and (min-width: 768px) {
    body {
        align-items: center;
    }


    .container {
        flex-direction: row;
        justify-items: center;
        align-items: flex-start;

        margin: auto;
    }

    .container__text {
        max-width: 40%;
    }

    .container__form {
        max-width: 70%;
    }
}


