<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NACOS Payment Platform</title>
</head>
<body>
<form th:action="@{/generate-invoice}" th:object="${paymentForm}" method="post">
    <input id="user-first-name" type="text" th:field="*{firstName}" placeholder="First Name"/>
    <input id="user-last-name" type="text" th:field="*{lastName}" placeholder="Last Name"/>
    <input id="user-email" type="email" th:field="*{email}" placeholder="Email Address"/>
    <input id="user-reg-number" type="text" th:field="*{registrationNumber}" placeholder="Matric/JAMB Number"/>
    <input id="user-phone-no" type="tel" th:field="*{phoneNumber}" placeholder="Phone Number"/>

    <select id="user-level" th:field="*{level}">
        <option value="">Select Level</option>
        <option th:each="level : ${levels}"
                th:value="${level.id}"
                th:text="${level.name}">Level</option>
    </select>

    <select id="user-program" th:field="*{program}">
        <option value="">Select Program</option>
        <option th:each="program : ${programs}"
                th:value="${program.name}"
                th:text="${program.name}"></option>
    </select>

    <button type="submit">Proceed</button>
</form>
</body>
</html>