<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NACOS Payment Platform</title>
</head>
<body>
<form>
    <input id="user-first-name" type="text" placeholder="First Name"/>
    <input id="user-last-name" type="text" placeholder="Last Name"/>
    <input id="user-email" type="email" placeholder="Email Address"/>
    <input id="user-id-no" type="email" placeholder="Matric/JAMB Number"/>

    <select id="user-level">
        <option>Level</option>
        <option>100 Level</option>
        <option>200 Level</option>
        <option>200 Level (DE)</option>
        <option>300 Level</option>
        <option>400 Level</option>
    </select>

    <input id="user-phone-no" type="number" placeholder="Phone Number"/>

    <button type="submit">Proceed</button>
</form>
</body>
</html>