<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NACOS Payment Invoice</title>
</head>
<body>
<h1>NACOS Payment Invoice</h1>
<div>
    <p>Name: <span th:text="${paymentForm.firstName + ' ' + paymentForm.lastName}"></span></p>
    <p>Email: <span th:text="${paymentForm.email}"></span></p>
    <p>Matric/JAMB Number: <span th:text="${paymentForm.registrationNumber}"></span></p>
    <p>Level: <span th:text="${paymentForm.level}"></span></p>
    <p>Phone Number: <span th:text="${paymentForm.phoneNumber}"></span></p>
    <p>Amount: ₦<span th:text="${amount}"></span></p>
</div>
<form th:action="@{/process-payment}" method="post">
    <input type="hidden" name="firstName" th:value="${paymentForm.firstName}" />
    <input type="hidden" name="lastName" th:value="${paymentForm.lastName}" />
    <input type="hidden" name="email" th:value="${paymentForm.email}" />
    <input type="hidden" name="matricNumber" th:value="${paymentForm.registrationNumber}" />
    <input type="hidden" name="level" th:value="${paymentForm.level}" />
    <input type="hidden" name="phoneNumber" th:value="${paymentForm.phoneNumber}" />
    <input type="hidden" name="amount" th:value="${amount}" />
    <button type="submit">Proceed to Payment</button>
</form>
</body>
</html>